@model Rite.Software.Shepherdaid.DAL.SecurityEntities.ApplicationGroup

@{
    ViewBag.Title = "Edit Application Group";
}

<div class="container-fluid">

    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-row hidden">
                @Html.LabelFor(model => model.ParishId, htmlAttributes: new { @class = "text-left col-md-1" })
                <div class="col-md-11">
                    @Html.DropDownList("ParishId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ParishId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "text-left col-md-1" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row invisible">
                @Html.LabelFor(model => model.CanChange, htmlAttributes: new { @class = "text-left col-md-1" })
                <div class="col-md-11">
                    @Html.CheckBoxFor(model => model.CanChange, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CanChange, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-1">
                </div>
                <div class="col-md-11">
                    <input type="submit" value="Save" class="btn btn-primary btn-block" />
                </div>
            </div>

            <div class="form-row invisible">
                @Html.LabelFor(model => model.RecordedBy, htmlAttributes: new { @class = "text-left col-md-1" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.RecordedBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RecordedBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row invisible">
                @Html.LabelFor(model => model.DateRecorded, htmlAttributes: new { @class = "text-left col-md-1" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.DateRecorded, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateRecorded, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    </div>
</div>