@model IEnumerable<Rite.Software.Shepherdaid.DAL.SecurityEntities.AppRole>

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>USER AVAILABLE ROLES</strong>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("AddUserRoles", "AppUsers"))
            {
                @Html.AntiForgeryToken()

                if (!ViewData.ModelState.IsValid)
                {
                    @Html.ValidationMessage("Error")
                }

                if (Model != null && Model.Count() > 0)
                {
                    <div class="">
                        <input type="submit" id="btn-assign" name="btn-assign" class="btn btn-primary" value="Assign" onclick="return confirm('This action will assign the selected roles to the group.');" />
                    </div>

                    <table id="ListTable" class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" name="check-all-available" id="check-all-available" value="0" title="select/deselect all" />
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RankType.Rank)
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <div class="checkbox" id="div-available-item">
                                            <label>
                                                <input type="checkbox"
                                                       name="available"
                                                       id="available"
                                                       value="@item.Id" />
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RankType.Rank)
                                    </td>
                                </tr>

                            }
                        </tbody>

                    </table>
                }

            }
        </div>
    </div>
</div>

