@model Rite.Software.Shepherdaid.DAL.SecurityEntities.AppUser

@{
    ViewBag.Title = "Create User";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-md-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <div class="form-row">
                            @Html.LabelFor(model => model.ApplicationGroupId, htmlAttributes: new { @class = "text-right col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("ApplicationGroupId", null, "--select--", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ApplicationGroupId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-row">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "text-right col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-row">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "text-right col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-row">
                            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "text-right col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-row">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "text-right col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-row">
                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "text-right col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-row">
                                @Html.LabelFor(model => model.TwoFactorEnabled, htmlAttributes: new { @class = "text-right col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.TwoFactorEnabled)
                                        @Html.ValidationMessageFor(model => model.TwoFactorEnabled, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>*@

                        <div class="form-row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
