@model Rite.Software.Shepherdaid.DAL.SecurityEntities.Parish

@{
    ViewBag.Title = "Edit Parish";
}

<div class="container">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-row">
                @Html.LabelFor(model => model.DioceseId, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DioceseId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DioceseId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Phone1, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                @Html.LabelFor(model => model.Phone2, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-2">

                </div>
                <div class="col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary btn-block" />
                </div>
            </div>

            <div class="form-row invisible">
                @Html.LabelFor(model => model.RecordedBy, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RecordedBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RecordedBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row invisible">
                @Html.LabelFor(model => model.DateRecorded, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateRecorded, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateRecorded, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row invisible">
                @Html.LabelFor(model => model.LastModifiedBy, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastModifiedBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastModifiedBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row invisible">
                @Html.LabelFor(model => model.LastDateModified, htmlAttributes: new { @class = "text-right col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastDateModified, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastDateModified, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        }

    </div>
</div>