@model IEnumerable<Rite.Software.Shepherdaid.DAL.SecurityEntities.Parish>

@{
    ViewBag.Title = "Parishes";
    int cnt = 0;
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-md-12">

                <p class="text-right">
                    @Html.ActionLink(" ", "Create", new { }, new { @class = "fa fa-plus-square", @title = "create new" })
                </p>
                @if (Model != null && Model.Count() > 0)
                {
                <div class="table-responsive">
                    <table id="ListTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Website)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Phone1)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Phone2)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @string.Format("{0}.", ++cnt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Website)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone2)
                                    </td>
                                    <th class="text-center">
                                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit", @title = "edit" }) |
                                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash text-danger", @title = "delete", @onclick = "return confirm('This action will delete this record.');" })
                                    </th>

                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                }

            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#ListTable').DataTable();
        });
    </script>
}